@import "./font.css";

/*BASE CONFIG*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
    font-size:  'Satoshi', serif, sans-serif;
 }

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
button{
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;

}

.d-flex{
display: flex;
justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -20px;
}
.col-3{
    width: 25%;
    padding: 0 20px;
}
.col-4{
    width: 33.3%; padding: 0 20px;
}
.col-6{
    width: 50%;
    padding: 0 20px;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}
/*BASE CONFIG*/ 


/*MODAL*/
.modal{
    background: var(--Dark-Primary, #2A254B);

}

.icon{
    display: flex;
    align-items: center;

}
.modal__title{
    color: var(--White, #FFF);
font-size: 14px;
font-weight: 400;
line-height: normal;
margin-left: 8px;
}

.modal__icon{
    margin-left: 350px;
   
}

/*MODAL*/

/*HEADER*/

.header{
    padding: 21px 0 19px 28px;
    
    }
    
    .header__content{
        display: flex;
    justify-content: flex-end;
    
    }
    
    .header__title{
        color: #22202E;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    
    }
    
    .header__link{
        color: #726E8D;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-left: 32px;
    }

.header__icon svg{
    margin-left: 16px;
}

/*HEADER*/

/*HEADER__CHILD*/
.header__child{
    background: var(--Light-Grey, #F9F9F9);
    padding: 20px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.header__child-content{
    max-width: 850px;
    text-align: center;
}
.header__child-title{
    color: #726E8D;
font-size: 16px;
font-weight: 400;
line-height: normal;
margin-right: 44px;
}

/*HEADER__CHILD*/

/*HERO*/

.hero__content{
    padding: 100px 88px;
}

.hero__title{
font-size: 36px;
font-weight: 400;
line-height: 140%; 
width: 704px;

}

.hero__btn{
    color: #2A254B;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%;  
padding: 16px 32px;
background: var(--Light-Grey, #F9F9F9);
width: 192px ;
height: 56px;
}

.hero__card{
    background: var(--Dark-Primary, #2A254B);
    padding: 64px 75px 44px 64px;
    height: fit-content;
}

.hero__subtitle{
    color: #FFF;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 12px;
}

.hero__minisubtitle{
    color: #FFF;
font-size: 18px;
font-weight: 400;
line-height: normal;
margin-bottom: 205px;
}

.hero__btn-card{
    padding: 16px 32px;
    width: 170px;
    height: 56px;
    background: rgba(249, 249, 249, 0.15);
    color: var(--White, #FFF);
font-size: 16px;
font-weight: 400;
line-height: 150%; 
}

.hero__img{
  width: 100%;
}

.hero__content-card{
    padding: 72px 100px 20px 84px;
    background: var(--Light-Grey, #F9F9F9);
}
.hero__subtitle-card{
      color: #2A254B;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; 
  margin-bottom: 25px;
  }
  
  .hero__minisubtitle-card{
      color: #505977;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  width: 536px;
  margin-bottom: 25px;
  }
  .hero__minisubtitle-card:nth-child(3){
  margin-bottom: 196px;
  }
.hero__btn-card{
    padding: 16px 32px;
    background: var(--White, #FFF);
    color: #2A254B;
font-size: 16px;
font-weight: 400;
line-height: 150%; 
}
/*HERO*/


/*BRAND*/
.brand{
    padding: 120px 0px 86px 0;
}


.brand__content{
    background: var(--Light-Grey, #F9F9F9);
 
    height: 244px;
padding: 48px;
}

.brand__title{
    color: var(--Dark-Primary, #2A254B);
font-size: 24px;
font-weight: 400;
line-height: 140%; 
text-align: center;
margin-bottom: 51px;
}

.brand__card-title{
    color: var(--Dark-Primary, #2A254B);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
margin: 16px 0 8px 0;

}

.brand__card-subtitle{
    color: var(--Dark-Primary, #2A254B);
font-size: 16px;
font-style: normal;font-weight: 400;
line-height: 150%; 
}
/*BRAND*/

/*ADVERT*/
.advert{
    padding: 68px 0 56px;
    background: var(--Light-Grey, #F9F9F9);
   }
   
   .advert__content{
   
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   gap: 72px;
   background: var(--White, #FFF);
   
   padding: 68px 351px 54px 351px;
   }
   
   .advert__title{
       color: var(--Dark-Primary, #2A254B);
   text-align: center;
   font-size: 36px;
   font-weight: 400;
   line-height: 140%; 
   margin-bottom: 16px;
   }
   
   .advert__subtitle{
       color: var(--Dark-Primary, #2A254B);
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; 
   margin-bottom: 72px;
   }
   
   .advert__inp-btn{
   background: var(--White, #FFF);

}

.advert__inp{
background: var(--Light-Grey, #F9F9F9);
padding: 17px 205px 17px 32px;
align-items: center;
flex: 1 0 0;
align-self: stretch;
color: var(--Dark-Primary, #2A254B);
font-weight: 400;
line-height: normal;
border: none;
}

.advert__btn{
    background: var(--Dark-Primary, #2A254B);
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
color: var(--White, #FFF);
font-weight: 400;
line-height: 150%; 
}

/*ADVERT*/   


/*FOOTER*/
.footer{
    padding: 53px 20px;
    background: var(--Dark-Primary, #2A254B);
    }
    
    
    .footer__title{
        color: var(--White, #FFF);
    font-size: 36px;
    font-weight: 400;
    line-height: 140%; 
    margin-bottom: 16px;
    }
    .footer__subtitle{
        color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    }
    
    .footer__text-subtitle{
        color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
    }
    
    .footer__title-text{
        color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    }
    
    .footer__link{
        color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    display: block;
    }
    
    .footer__hr{
        background: #4E4D93;
        margin: 36px 16px;
        height: 1px;
    }
    
    .footer__text-title{
        color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    }
    /*FOOTER*/
    