@import "./font.css";

/*BASE CONFIG*/ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html{
    font-size:  'Satoshi', serif, sans-serif;
 }

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

button{
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;

}

.d-flex{
display: flex;
justify-content: space-between;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.col-3{
    width: 25%;
    padding: 0 20px;
}
.col-4{
    width: 33.3%;
    padding: 0 20px;
}
.col-6{
    width: 50%;
    padding: 0 20px;
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}
/*BASE CONFIG*/ 


/*MODAL*/
.modal{
    background: var(--Dark-Primary, #2A254B);
    padding: 8px 16px 9px 516px;
}

.icon{
    display: flex;
    align-items: center;

}

.modal__title{
    color: var(--White, #FFF);
font-size: 14px;
font-weight: 400;
line-height: normal;
margin-left: 8px;
}

.modal__icon{
    margin-left: 350px;
   
}

/*MODAL*/


/*HEADER*/
.header{
    padding: 25px 0 25px 0;

}
.header__title{
    color: #22202E;
font-size: 24px;
font-weight: 400;
line-height: normal;
}

.header__link{
color: #726E8D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 44px;


}
.header__icon svg{
    margin-left: 16px;
}

/*HEADER*/


/*CHAIR*/
.chair{
    padding: 50px 188px 47px 80px;
    background: var(--Light-Grey, #F9F9F9);
}
.chair__content-card img {
    width: 100%;
    height: 80vh;
   margin-top: 50px;
}
.chair__right {
    width: 602px;
    height: 657px;
    padding-left: 65px;
}

.chair__title {
    color: var(--Dark-Primary, #2A254B);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 31px;
}

.chair__minititle {
    color: var(--Dark-Primary, #2A254B);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 28px;
}

.chair__hr {
    width: 518px;
    height: 1px;
    background: #EBE8F4;
    margin-bottom: 24px;}

    .chair__minisubtitle {
        color: var(--Dark-Primary, #2A254B);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 14px;
    }
    
    .chair__subtitle {
        color: #505977;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        width: 498px;
        margin-bottom: 36px;
    }

    .chair__count {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }
    
    .chair__number {
        display: flex;
        background: var(--White, #FFF);
        padding: 12px 20px;
        justify-content: space-between;
        align-items: center;
        margin-left: 16px;
        margin-bottom: 48px;
    }
    
    .chair__number-check {
        color: var(--Border-Dark, #CAC6DA);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    
    .chair__number-one {
        color: var(--Dark-Primary, #2A254B);
        font-size: 16px;
        font-weight: 400;
        margin: 0 25px;
    }
    
    .chair__text {
        color: #2A254B;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        width: 65px;
    }
    
    .chair__btn {
        color: var(--White, #FFF);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        background: var(--Dark-Primary, #2A254B);
        width: 143px;
        height: 56px;
    }
    
    .chair__btn-card {
        color: #2A254B;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        background: var(--White, #FFF);
        padding: 16px 32px;
        margin-left: 16px;
    
    }
    
    .size{
        height: 44px;
       
    }
    
    .size:not(:last-child){
        border-right: 1px solid #EBE8F4;;
    }
    .size__content {
        width: 241px;
        height: 99px;
    }
    
    .size__title {
        color: #2A254B;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 12px;
        padding-right: 20px;
    }
    
    .size__subtitle {
        color: #505977;
        font-size: 16px;
        font-weight: 400;
        padding-right: 20px;
    }
        

/*CHAIR*/
/*POPULAR*/

.popular{
    padding: 64px  40px  ;
}
.popular__title{
    color: #2A254B;
font-size: 32px;
font-weight: 400;
line-height: normal;
margin-bottom: 33px;
}

.popular__card-title{
    color: var(--Dark-Primary, #2A254B);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
margin-bottom: 8px;
}

.popular__card-subtitle{
    color: var(--Dark-Primary, #2A254B);
font-size: 18px;
font-weight: 400;
line-height: 150%; 
}

.popular__content img{
    width: 100%;
}

.popular__btn-center{
    text-align: center;
margin-top: 42px;
}

.popular__btn{
    color: #2A254B;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
padding: 16px 32px;
background: var(--Light-Grey, #F9F9F9);
}

/*POPULAR*/


/*BRAND*/
.brand{
    padding: 120px 0px 86px 0;
}


.brand__content{
    background: var(--Light-Grey, #F9F9F9);
 
    height: 244px;
padding: 48px;
}

.brand__title{
    color: var(--Dark-Primary, #2A254B);
font-size: 24px;
font-weight: 400;
line-height: 140%; 
text-align: center;
margin-bottom: 51px;
}

.brand__card-title{
    color: var(--Dark-Primary, #2A254B);
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
margin: 16px 0 8px 0;

}

.brand__card-subtitle{
    color: var(--Dark-Primary, #2A254B);
font-size: 16px;
font-style: normal;font-weight: 400;
line-height: 150%; 
}
/*BRAND*/

/*JOIN*/

.join__content-card img{
  width: 100%;
}  
   .join__title{
       color: var(--Dark-Primary, #2A254B);
   text-align: center;
   font-size: 36px;
   font-weight: 400;
   line-height: 140%; 
margin: 71px 0 21px 0;
   }
   
   .join__subtitle{
       color: var(--Dark-Primary, #2A254B);
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; 
   margin-bottom: 160px;
   }
   
   .join__inp-btn{
   background: var(--White, #FFF);
   text-align: center;

}

.join__inp{
background: var(--Light-Grey, #F9F9F9);
padding: 17px 205px 17px 32px;
align-items: center;
flex: 1 0 0;
align-self: stretch;
color: var(--Dark-Primary, #2A254B);
font-weight: 400;
line-height: normal;
border: none;
}

.join__btn{
    background: var(--Dark-Primary, #2A254B);
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
color: var(--White, #FFF);
font-weight: 400;
line-height: 150%; 
}

/*JOIN*/   


/*FOOTER*/
.footer{
    padding: 53px 20px;
    background: var(--Dark-Primary, #2A254B);
    }
    
    
    .footer__title{
        color: var(--White, #FFF);
    font-size: 36px;
    font-weight: 400;
    line-height: 140%; 
    margin-bottom: 16px;
    }
    .footer__subtitle{
        color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    }
    
    .footer__text-subtitle{
        color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 22px;
    }
    
    .footer__title-text{
        color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    }
    
    .footer__link{
        color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    display: block;
    }
    
    .footer__hr{
        background: #4E4D93;
        margin: 36px 16px;
        height: 1px;
    }
    
    .footer__text-title{
        color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    }
    /*FOOTER*/
    